.contact-container {
  padding: 2rem;
  background-color: #242424;
  color: white;
  p {
    text-align: center;
  }
}

.adress {
  color: #969696;
}

.companyinfo a:link {
  color: white;
  text-decoration: underline;
}

.contact ul {
  text-align: center;
  padding: 0;
  padding-top: 14px;
  li {
    display: inline;
    padding: 1rem;
  }
  a {
    &:link,
    &:visited {
      color: white;
    }
    &:hover {
      color: #b64036;
    }
  }
  span {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      text-align: left;
    }
  }
  .contact ul {
    margin: 0;
    text-align: left;
    padding-top: 0;
    li {
      display: block;
      padding: 5px;
    }
    span {
      display: inline;
    }
    i {
      min-width: 25px;
    }
  }
}