nav img {
  width: 100%;
}

.logo {
  min-width: 120px;
  max-width: 120px;
}

.cart {
  min-width: 50px;
  max-width: 50px;
}

#navigation {
  padding: 1rem;
  /* min-width: 375px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


#navigation ul {
  list-style: none;
  text-transform: uppercase;
  padding:0 20px;
  padding-top: 1rem;
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border:#d7d7d7;
  margin-top: 0.1rem;
  border-top-width: 1px;
  border-top-style: solid;
}

a:link, a:visited {
  color: #e2574c;
  text-decoration: none;
}

a:hover, a:active {
  color: #b64036;
}

#navigation > .logo {order: 1;}
#navigation > ul {order: 3;}
#navigation > .cart {order: 2;}